*,*::after,*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-align: center; */
  color: #ececec;
  background-color: #292929;
  margin-top: 60px;
  max-width: 700px;
  margin: auto;
}
h1 {
  padding: 2rem;
}
h4 {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 500;
}
.self, .recipientInputs, .dataChanelBox {
  padding: 2rem;
}
.actions {
  padding-top: 1rem;
}
button, input {
  padding: .25rem .75rem;
}
input {
  width: 100%;
}
.inputBox:not(:last-child) {
  margin-bottom: .75rem;
}
.inputBox input {
  margin-top: .75rem;
}

input:read-only {
  background: transparent;
  border: none;
  font-size: 1rem;
  color: #ececec;
}

.messageSender input {
  margin: .5rem 0;
}

.dataChanelBox {
  display: none;
}

#streamsBox {
  padding: 2rem;
  display: none;
}
.videosBox {
  display: flex;
  justify-content: space-between;
}
.videosBox .videoWrapper {
  width: 49%;
  max-width: 49%;
  max-height: 300px;
}
.videosBox .videoWrapper video {
  max-width: 100%;
  object-fit: contain;
}
.streamActions button:not(:last-child), .actions button:not(:last-child)  {
  margin-right: 0.5rem;
}