# dependencies
client/node_modules/
server/node_modules/
client/.pnp
client/.pnp.js
# client/package-lock.json

# testing
client/coverage

# misc
client/.DS_Store
client/*.pem

# debug
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

# local env files
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local
server/.env


#gitignores
client/.gitignore
server/.gitignore

#eslimtrc
client/.eslintrc.json

#client example
client/example/.gitignore
client/example/node_modules
client/example/.DS_Store
client/example/dist
client/example/dist-ssr
client/example/*.local

# server/package-lock.json
client/example/package-lock.json

#doc
doc/node_modules
doc/.DS_Store
doc/dist
doc/dist-ssr
doc/*.local
doc/.gitignore
# package-lock.json
